.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: #e4f3f6;
    color: #000000;
}

.header.admin {
    background: conic-gradient(rgba(255, 255, 255, 0.8), rgba(107, 118, 7, 0.4), rgba(1, 86, 53, 0.4), rgba(255, 255, 255, 0.4));
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    width: 150px;
    height: 150px;
}

.right-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.visitors {
    font-size: 14px;
}

.btn {
    background: #e4f3f6;
    border: none;
    padding: 14px 30px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    border-radius: 20px;
}

.log-btn {
    background: #38cbe1;
    border: none;
    padding: 14px 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    border-radius: 20px;
}

.btn:hover {
    color: #f34312;
}

.log-btn:hover {
    background: radial-gradient(circle, rgba(231, 99, 99, 0.8), #f34312);
}